.skill-box {
    background-color: #fff;
    padding: 0 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3.4rem;
    display: flex;
    justify-content: space-evenly;    
}


.skill-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    width: 6rem;
    height: 6rem;
    color: white;
    border-radius: 15%;
    /* margin-right: 50px; */
}
.skill-box img{
    max-width: 6rem;
    border-radius: 15%;
    /* margin-right: 50px; */
}

.skill-box .fa-php {
    background-color: #474A8A;
}

.skill-box .fa-drupal {
    background-color: #0077C0;
    font-size: 50px;
}

.skill-box .fa-css3-alt {
    background: rgb(0, 162, 255);
    background: radial-gradient(circle, rgb(0, 153, 255) 0%, rgba(0, 91, 255, 1) 100%);
    padding-top: 3px;
}

.skill-box .fa-html5 {
    /* background-color: #ff7300; */
    background: rgb(255, 167, 79);
    background: radial-gradient(circle, rgba(255, 167, 79, 1) 0%, rgb(255, 115, 0) 100%);
    padding-top: 3px;
}

.skill-box .fa-sass{
    background-color: #ff0080;
}


.owl-item{
    display: flex;
    justify-content: space-around;
}
.owl-stage-outer{
    padding-top: 29px;
}